{% extends 'base.html' %}

{% block app_content %}
<h2>{% if season == 8 and episode == 3 %}Battle of Winterfell{% else %}Season {{ season }}, episode {{ episode }}{% endif %} Death Bingo</h2>

<div class="square-container">
    {% for row in range(5) %}
        {% for col in range(5) %}
            <div class="square"><div class="content">
                {{ card[(row, col)] }}
            </div></div>
        {% endfor %}
    {% endfor %}
</div>


<form action="https://www.paypal.com/cgi-bin/webscr" method="post">
    <input type="hidden" name="business" value="jmaroeder@gmail.com">
    <input type="hidden" name="cmd" value="_xclick">
    <input type="hidden" name="on0" value="seed">
    <input type="hidden" name="amount" value="5.00">
    <input type="hidden" name="currency_code" value="USD">
    <input type="hidden" name="item_name" value="Buy In">
    <input type="hidden" name="os0" value="{{ seed }}">
    <div class="container">
        <div class="row">
            <div class="col-xs-6"><a href="{{ url_for('bingo', season=season, episode=episode) }}" class="btn btn-default">Try another card</a></div>
            <div class="col-xs-6"><button class="btn btn-default">Buy in with this card</button></div>
        </div>
    </div>
</form>

<small style="padding-top: 200px">Made with ♥</small>
{% endblock %}
