{% extends 'base.html' %}

{% block app_content %}
<h2>Season {{ season }}, episode {{ episode }}</h2>

<div class="square-container">
    {% for row in range(5) %}
{#        <div class="row row-eq-height">#}
        {% for col in range(5) %}
{#            {% if col == 0 %}<div class="col-xs-2 col-xs-offset-1 bingo-square">{% else %}<div class="col-xs-2">{% endif %}#}
            <div class="square"><div class="content">
                {{ card[(row, col)] }}
            </div></div>
{#            </div>#}
        {% endfor %}
{#        </div>#}
    {% endfor %}
    <div class="row"></div>
</div>


<form action="https://www.paypal.com/cgi-bin/webscr" method="post">
    <input type="hidden" name="business" value="jmaroeder@gmail.com">
    <input type="hidden" name="cmd" value="_xclick">
    <input type="hidden" name="on0" value="seed">
    <input type="hidden" name="amount" value="5.00">
    <input type="hidden" name="currency_code" value="USD">
    <input type="hidden" name="item_name" value="Buy In">
    <input type="hidden" name="os0" value="{{ seed }}">
    <div class="container">
        <div class="row">
            <div class="col-xs-6"><a href="{{ url_for('bingo', season=season, episode=episode) }}" class="btn btn-default">Try another card</a></div>
            <div class="col-xs-6"><button class="btn btn-default">Buy in with this card</button></div>
        </div>
    </div>
</form>

<small style="padding-top: 200px">Made with ♥</small>
{% endblock %}
